{{- define "title" }}
    {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    <div class="page">
        <h1 class="my-4 fw-semibold">Completed Projects - {{ .Title }}</h1>
        {{ if .Params.images }}
            {{ partial "carousel.html" (dict "images" .Params.images) }}
        {{ end }}
        {{ if .Content }}
            <section class="mt-4 mb-5">
                {{ .Content }}
            </section>
        {{ end }}
        {{ partial "projects-grid.html" (dict "pages_list" .Pages) }}
    </div>
{{- end -}}
