{{- define "title" }}
    {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    <div class="projects-page">
        {{- /* Paginate */ -}}
        {{- if .Pages -}}
            {{ $sorted := sort .Pages "Params.rank" }} 
            {{- with .Site.Params.section.paginate | default .Site.Params.paginate -}}
                {{- $sorted = $.Paginate $sorted . -}}
            {{- else -}}
                {{- $sorted = .Paginate $sorted -}}
            {{- end -}}
            <div class="projects-grid" data-masonry>
                <div class="grid-sizer">&nbsp;</div>
                {{ range $sorted.Pages }}
                    {{ if and (isset .Params "rank") (le (int .Params.rank) 3) }}
                        {{ partial "project.html" (dict "page" .) }}
                    {{ end }}
                {{ end }}
                {{ range $sorted.Pages }}
                    {{ if not (isset .Params "rank") }}
                        {{ partial "project.html" (dict "page" .) }}
                    {{ end }}
                {{ end }}
            </div>
            {{- partial "paginator.html" . -}}
        {{- end -}}
    </div>
    <!-- <script src="/js/lib/masonry.pkgd.min.js"></script> -->
{{- end -}}
