{{- define "title" }}
    {{ .Title }} - {{ .Site.Title }}
{{ end -}}

{{- define "content" -}}
    <style>
        .project-post .container, .project-post .content > *:not(:has(img), :has(iframe)) {
            margin-left: 0;
        }

        .project-post .content > * {
            max-width: 653px;
        }

        .project-post .container.content {
            padding: 0;
        }
    </style>
    <article class="project-post">
        {{ partial "breadcrumbs.html" . }}
        <div class="container mini-container mb-3">
            <h1 class="fw-bold mt-5">{{ .Title }}</h1>
            <p class="subhead">
                {{ .Summary }}
            </p>
            <div class="bottom">
                <div class="post-author d-flex">
                    {{ partial "students.html" (dict "students" .Params.students) }}
                </div>
            </div>
        </div>
        <div class="right-side d-none d-lg-block" id="lightgallery-lg">
            {{ if isset .Params "poster" }}
            <div class="mt-1">
                <figure class="figure" data-src="{{ .Params.poster }}">
                    <img src="{{ .Params.poster }}" alt="poster" />
                </figure>
            </div>
            {{ end }}
            {{ if isset .Params "youtube" }}
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/{{ .Params.youtube }}" frameborder="0"></iframe>
                </div>
            {{ end }}
        </div>
        <section id="lightgallery">
            {{ if isset .Params "poster" }}
            <div class="container mt-5 mb-3 d-lg-none">
                <figure class="figure" data-src="{{ .Params.poster }}">
                    <img src="{{ .Params.poster }}" alt="poster" />
                    <figcaption class="figure-caption text-center">Poster</figcaption>
                </figure>
            </div>
            {{ end }}
            
            <div class="container content mt-3">
                {{ .Content }}

                {{ if isset .Params "youtube" }}
                    <div class="video-container d-lg-none">
                        <iframe src="https://www.youtube.com/embed/{{ .Params.youtube }}" frameborder="0"></iframe>
                    </div>
                {{ end }}
            </div>
        </section>
    </article>
    <script>
        const params = {
            plugins: [lgVideo, lgZoom],
            thumbnail: true,
            selector: 'img, iframe',
        }
        lightGallery(document.getElementById('lightgallery'), params);
        lightGallery(document.getElementById('lightgallery-lg'), params);
    </script>
{{- end -}}
