{{- define "title" }}
    {{ .Title }} - {{ .Site.Title }}
{{ end -}}

{{- define "content" -}}
    {{ partial "breadcrumbs.html" . }}
    <article class="project-post show_links">
        <div class="container col-lg-9 mb-3">
            <h1 class="fw-bold mt-5">{{ .Title }}</h1>
            <p class="subhead mt-3 mb-4">
                {{ .Summary }}
            </p>
            <hr>
            <div class="post-author d-flex flex-wrap">
                {{ partial "students.html" (dict "students" .Params.students) }}
            </div>
        </div>
        <section id="lightgallery">
            {{ if .Params.poster }}
            <div class="container mt-5 mb-3 d-flex justify-content-center">
                <figure class="figure">
                    {{ partial "page-image.html" (dict "src" .Params.poster "page" . "alt" "poster" "sizes" "80vw")}}
                    <figcaption class="figure-caption text-center">Poster</figcaption>
                </figure>
            </div>
            {{ end }}
            <div class="container col-lg-9">
                {{ .Content }}
                <hr class="mt-4">
                <div class="advisors py-2">
                    <h3 class="mb-3">Advisors</h3>
                    {{ range .Params.advisors }}
                        <a href='{{ printf "/advisors/%s" . | urlize | relURL }}' class="mt-1 d-block">{{ . }}</a>
                    {{ end }}
                </div>
                <hr>
                <div class="pp-4 my-4">
                    {{ range .Params.tags }}
                        <span class="badge text-bg-light me-2">{{ . }}</span>
                    {{ end }}
                </div>
            </div>
        </section>
    </article>
    <script>
        window.addEventListener("load", () => {
            if (window.lightGallery) {
                window.lightGallery(document.getElementById('lightgallery'), {
                    plugins: [window.lgVideo, window.lgZoom],
                    thumbnail: true,
                    selector: 'img, iframe',
                });
            }
        });
    </script>
{{- end -}}
