{{- define "title" }}
    {{ .Title }} - {{ .Site.Title }}
{{ end -}}

{{- define "content" -}}
    <article class="project-post">
        {{ partial "breadcrumbs.html" . }}
        <div class="container mini-container">
            <h1 class="fw-bold mt-5">{{ .Title }}</h1>
            <p class="subhead">
                {{ .Summary }}
            </p>
            <div class="bottom">
                <div class="post-author d-flex">
                    {{ partial "students.html" (dict "students" .Params.students) }}
                </div>
            </div>
        </div>
        <section id="lightgallery">
            {{ if .Params.poster }}
            <div class="container mt-5 mb-3 d-flex justify-content-center">
                <figure class="figure" data-src="{{ .Params.poster }}">
                    <img src="{{ .Params.poster }}" alt="poster" />
                    <figcaption class="figure-caption text-center">Poster</figcaption>
                </figure>
            </div>
            {{ end }}
            <div class="container content">
                {{ .Content }}
            </div>
        </section>
    </article>
    <script>
        lightGallery(document.getElementById('lightgallery'), {
            plugins: [lgVideo, lgZoom],
            thumbnail: true,
            selector: 'img, iframe',
        });
    </script>
{{- end -}}
