{{- define "title" }}
    {{ .Title }} - {{ .Site.Title }}
{{- end -}}

{{- define "content" -}}
    <div class="py-4">
        <h1 class="fw-semibold mb-4">Offered Senior Projects</h1>
        <section>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Project Title</th>
                        <th scope="col">Project Advisor</th>
                        <th scope="col">Project Year</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {{ range .Pages }}
                        <tr class="position-relative">
                            <td><a href="{{ .RelPermalink }}" class="stretched-link">{{ .Title }}</a></td>
                            <td>
                                {{ range $index, $advisor := .Params.advisors }}{{ if not (eq $index 0) }},{{ end }}
                                <a href='{{ printf "/advisors/%s" . | urlize | relURL }}' class="position-relative z-3">{{ $advisor }}</a>{{ end }}
                            </td>
                            <td>{{ .Date.Format "2006" }}</td>
                        </tr>
                    {{ end }}
                </tbody>
            </table>
        </section>
    </div>
{{- end -}}
