{{- define "title" }}
    {{ .Title }} - {{ .Site.Title }}
{{ end -}}

{{- define "content" -}}
    <article class="project-post">
        {{ partial "breadcrumbs.html" . }}
        <div class="container mini-container mb-3 mt-5">
            <p class="date">{{ .Date.Format "2006" }}</p>
            <h1 class="fw-bold">{{ .Title }}</h1>
            <div class="bottom">
                <div class="post-author d-flex">
                    <span class="fw-medium me-2">Project Advisor(s):</span> {{ delimit .Params.advisors ", " }}
                </div>
            </div>
        </div>
        <section id="lightgallery">
            {{ if .Params.poster }}
            <div class="container mt-5 mb-3 d-flex justify-content-center">
                <figure class="figure" data-src="{{ .Params.poster }}">
                    <img src="{{ .Params.poster }}" alt="poster" />
                    <figcaption class="figure-caption text-center">Poster</figcaption>
                </figure>
            </div>
            {{ end }}
            <div class="container content">
                {{ .Content }}
            </div>
        </section>
    </article>
    <script>
        lightGallery(document.getElementById('lightgallery'), {
            plugins: [lgVideo, lgZoom],
            thumbnail: true,
            selector: 'img, iframe',
        });
    </script>
{{- end -}}
