{{- define "title" }}
    {{ .Title }} - {{ .Site.Title }}
{{ end -}}

{{- define "content" -}}
    {{ partial "breadcrumbs.html" . }}
    <article class="project-post show_links">
        <div class="container mb-3 mt-5">
            <p class="date">{{ .Date.Format "2006" }}</p>
            <h1 class="fw-bold">{{ .Title }}</h1>
            <hr>
            <div class="post-author d-flex flex-wrap">
                <span class="fw-medium me-2">Project Advisor(s):</span>
                {{ partial "advisors-inline.html" (dict "advisors" .Params.advisors) }}
            </div>
        </div>
        <section id="lightgallery">
            {{ if .Params.poster }}
            <div class="container mt-5 mb-3 d-flex justify-content-center">
                <figure class="figure" data-src="{{ .Params.poster }}">
                    <img src="{{ .Params.poster }}" alt="poster" />
                    <figcaption class="figure-caption text-center">Poster</figcaption>
                </figure>
            </div>
            {{ end }}
            <div class="container content">
                {{ .Content }}
            </div>
        </section>
    </article>
    <script>
        setTimeout(() => {
           window.lightGallery(document.getElementById('lightgallery'), {
                plugins: [window.lgVideo, window.lgZoom],
                thumbnail: true,
                selector: 'img, iframe',
            }); 
        }, 1000);
    </script>
{{- end -}}
