a {
    text-decoration: none !important;
    transition: color .3s;
    color: $global-link-color !important;
    &:hover, &:active {
        color: $global-link-hover-color !important;
    }

    [theme=dark] & {
        color: $global-link-color-dark !important;

        &:hover, &:active {
            color: $global-link-hover-color-dark !important;
        }
    }

    [theme=black] & {
        color: $global-link-color-black !important;

        &:hover, &:active {
            color: $global-link-hover-color-black !important;
        }
    }
}

.project-link {
    position: relative;
    transition: transform .3s;

    &:hover {
        transform: translateY(-10px) scale(1.03);
    }
}

.medal {
    border: 3px solid $global-border-color;
    border-radius: 50%;
    padding: 15px;
    padding-bottom: 12.5px;
    width: fit-content;
    position: absolute;
    top: -20px;
    right: -20px;
    z-index: 100;

    img {
        width: 40px;
        height: 40px;
    }
}

.img-fit {
    height: 320px;
    width: auto;
    transform-origin: top 100%
}

.carousel-item {
    background-color: #202020;
}

.content-container {
    margin: 20px 0;
}

.text-bg-gridcard {
    background-color: $header-background-color !important;

    [theme=dark] & {
        background: $header-background-color-dark !important;
    }

    [theme=black] & {
        background: $header-background-color-black !important;
    }
}