{{- define "title" }}
{{- .Title }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
<div class="page pb-4">
    <article class="show_links container col-lg-9">
        <h1 class="fw-semibold mb-4 mt-2">{{ .Title }}</h1>
        {{ .Content }}
        <div class="row gx-3 mt-4">
            <div class="col-lg-6">
                <h6 class="fw-semibold mb-3">A sample of a well designed poster</h6>
                <a href="http://www.personal.psu.edu/drs18/postershow/postershow.pdf">
                    <img src="/posters/good_poster_sample.jpg" alt="A sample of a well designed poster">
                </a>
                <p class="mt-3">Image credit: Poster Session Tips by <a href="mailto:mousejockey@psu.edu" class="spamspan">mousejockey@psu.edu</a>,&nbsp;<a href="http://www.personal.psu.edu/drs18/postershow/">via Penn State</a></p>
            </div>
            <div class="col-lg-6">
                <h6 class="fw-semibold mb-3">A sample of a poorly designed poster</h6>
                <img src="/posters/bad_poster_sample.jpg" alt="A sample of a poorly designed poster">
                <p class="mt-3">Image Credit: Critique by&nbsp;<a href="http://betterposters.blogspot.com/" target="_blank">Better Posters</a></p>
            </div>
        </div>
    </article>
</div>
{{- end -}}