{{- define "title" }}
{{- .Title }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
<style>
    .wrapper {
        background-color: #F5F5F7
    }
</style>
{{ $advisor := .Title }}
<h1 class="fw-semibold mb-4">{{ .Title }}</h1>

<h2 class="mb-4">Offered Projects</h2>
{{ $offers := where .Site.Pages.ByTitle "Section" "==" "offers" }}
<div class="row gy-lg-3 gx-lg-4">
    {{ range $offers }}
        {{ if (in .Params.advisors $advisor) }}
            {{ partial "project-card.html" (dict "page" .) }}
        {{ end }}
    {{ end }}
</div>

<h2 class="mb-4">Completed Projects</h2>
{{ $semesters := where .Site.Pages "Type" "==" "semester" }}
{{ range $semesters }}
    <div class="mb-2">
        <h4 class="mb-4">{{ .Title }}</h4>
        <div class="row gy-lg-3 gx-lg-4">
            {{ range .CurrentSection.Pages.ByTitle }}
                {{ if (in .Params.advisors $advisor) }}
                    {{ partial "project-card.html" (dict "page" .) }}
                {{ end }}
            {{ end }}
        </div>
    </div>
{{ end }}
{{- end -}}