<div class="container mb-3" style="padding-left: 8px;">
    <nav class="breadcrumbs" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb flex-nowrap">
            {{- range $index, $value := .Ancestors.Reverse }}
                {{ if not (eq $index 0) }}
                <li class="breadcrumb-item text-nowrap">
                    <a href="{{ .RelPermalink }}">
                        {{ $value.Title }}
                    </a>
                </li>
                {{ end }}
            {{- end }}
            <li class="breadcrumb-item text-nowrap active" aria-current="page">{{ .Title }}</li>
        </ol>
    </nav>
</div>