<div id="inline-gallery-container" class="inline-gallery-container">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="spinner-border" role="status" style="color: #004281;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<script>
    const dynamicInlineEls = [
        {{ range .images }}
            {
                "src": "{{ . }}",
            },
        {{ end }}
    ]


    const lgContainer = document.getElementById('inline-gallery-container');
    window.addEventListener("load", () => {
        if (window.lightGallery) {
            const inlineGallery = window.lightGallery(lgContainer, {
                container: lgContainer,
                closable: false,
                showMaximizeIcon: true,
                dynamic: true,
                dynamicEl: dynamicInlineEls,
                plugins: [window.lgVideo, window.lgZoom],
                preload: 0
            })
            inlineGallery.openGallery();  
        }
    });
</script>