{{ $year := .Site.Params.year }}
{{ $semester := .Site.Params.semester }}

{{ $path := printf "semesters/%s-%s/" $year $semester }}

{{ $pages := where .Site.RegularPages "File.Dir" "in" (slice $path) }}

<script>
    const dynamicEls = [
        {{ range $pages }}
            {{ if .Params.poster }}
                {
                    "src": "{{ .Params.poster }}",
                    'subHtml': '<div class="container subHTML">' + 
                        '<h3 class="fw-bold pt-2">{{ .Title }}</h3>' +
                        '<p class="subhead mt-1 fs-6">{{ .Summary }}</p>' +
                        '<div class="bottom">' +
                            '<div class="post-author d-flex justify-content-center mt-3">{{ partial "students.html" (dict "students" .Params.students) }}</div>' +
                        '</div>' +
                    '</div>'
                },
            {{ end }}
        {{ end }}
    ]

    setTimeout(() => {
        const $dynamicGallery = document.getElementById('digest-button');
        const dynamicGallery = window.lightGallery(document.getElementById('digest-button'), {
            dynamic: true,
            dynamicEl: dynamicEls,
            plugins: [window.lgVideo, window.lgZoom],
            preload: 0
        })
        $dynamicGallery.addEventListener('click', function () {
            dynamicGallery.openGallery();
        });
    }, 1000);
</script>