{{ $all := where .Site.Pages "Section" "==" "semesters" }}
{{ $semesters := where $all "Type" "==" "semester"}}

<nav class="navbar navbar-expand-md sticky-top bg-primary">
    <div class="container-lg">
        <a class="navbar-brand" href='{{ relURL "/" }}'>
            {{ partial "logo.html" }}
        </a>
        <div class="d-flex d-md-none">
            <div class="me-3" data-bs-toggle="modal" data-bs-target="#searchModal" style="cursor: pointer; margin-top: 2.5px; color: #fff;">
                {{ partial "search.html" }}
            </div>
            <div data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" style="cursor: pointer;">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="bi" fill="#fff" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
                </svg>
            </div>  
        </div>
        
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <div class="ms-2">
                    {{ partial "logo.html" }}
                </div>
                <button type="button" class="btn-close me-1" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="nav container-fluid">
                    {{- range .Site.Menus.main -}}
                    {{- $url := .URL | relLangURL -}}
                    {{ if not (eq .Identifier "semesters") }}
                    <li class="nav-item">
                        <a class="nav-link{{ if eq $.Section .Identifier }} active{{ end }}"
                            href="{{ $url }}" {{ with .Title }} title="{{ . }}" {{ end }}{{ if (urls.Parse $url).Host }}
                            rel="noopener noreferrer" target="_blank" {{ end }}>
                            {{ .Name }}
                        </a>
                    </li>
                    {{ else }}
                    <li class="nav-item dropdown d-none d-md-block">
                        <a class="nav-link dropdown-toggle{{ if eq $.Section "semesters" }} active{{ end }}" href="#"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ .Name }}
                        </a>
                        <ul class="dropdown-menu">
                            {{ range (first 5 $semesters.ByTitle.Reverse) }}
                            <li><a class="dropdown-item" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                            {{ end }}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ relURL "semesters" }}">All Semesters</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown d-md-none">
                        <a class="nav-link dropdown-toggle{{ if eq $.Section "semesters" }} active{{ end }}" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            {{ .Name }}
                        </a>
                        <ul class="collapse list-group list-group-flush" id="collapseExample">
                            {{ range (first 5 $semesters.ByTitle.Reverse) }}
                            <li class="list-group-item"><a class="dropdown-item" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                            {{ end }}
                            <li class="list-group-item"><a class="dropdown-item" href="{{ relURL "semesters" }}">All Semesters</a></li>
                        </ul>
                    </li>
                    {{ end }}
                    {{- end -}}
                    <li class="nav-item d-md-none"><a class="nav-link" href="{{ relURL "/advisors" }}">Advisors</a></li>
                    <li class="nav-item d-md-none"><a class="nav-link" href="{{ relURL "/regulations" }}">Regulations</a></li>
                    <li class="nav-item d-md-none"><a class="nav-link" href="{{ relURL "/poster" }}">How to Create a Project Poster</a></li>
                    <li class="nav-item d-md-none"><a class="nav-link" href="{{ relURL "/admin" }}">Admin</a></li>
                    <li class="nav-item d-md-none"><a class="nav-link" href="{{ relURL "/advisor-guide" }}">Advisor Guide</a></li>
                    <li class="nav-item d-md-none"><a class="nav-link" href="{{ relURL "/student-guide" }}">Student Guide</a></li>
                </ul>
                <div class="nav-item d-none d-md-block" data-bs-toggle="modal" data-bs-target="#searchModal" style="cursor: pointer;">
                    <a class="nav-link" style="margin-top: 8px;" href="#">
                        {{ partial "search.html" }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav> 