{{ $all := where .Site.Pages "Section" "==" "semesters" }}
{{ $semesters := where $all "Type" "==" "semester"}}

<nav class="navbar navbar-expand-md sticky-top">
    <div class="container">
        <a class="navbar-brand" href='{{ relURL "/" }}'>
            <img src='{{ (resources.Get "/images/logo.png").RelPermalink }}' height="46px" alt="...">
        </a>
        <div class="d-flex d-md-none">
            <div class="me-3" data-bs-toggle="modal" data-bs-target="#searchModal" style="cursor: pointer; margin-top: 8px; color: #fff;">
                {{ partial "search.html" }}
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation" style="background-color: #fff;">
                <span class="navbar-toggler-icon"></span>
            </button>  
        </div>
        

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <img src='{{ (resources.Get "/images/logo.png").RelPermalink }}' height="46px" alt="...">
                <button type="button" class="btn-close me-1" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="nav container-fluid">
                    {{- range .Site.Menus.main -}}
                    {{- $url := .URL | relLangURL -}}
                    {{ if not (eq .Identifier "semesters") }}
                    <li class="nav-item">
                        <a class="nav-link{{ if eq $.Section .Identifier }} active{{ end }}"
                            href="{{ $url }}" {{ with .Title }} title="{{ . }}" {{ end }}{{ if (urls.Parse $url).Host }}
                            rel="noopener noreferrer" target="_blank" {{ end }}>
                            {{ .Name }}
                        </a>
                    </li>
                    {{ else }}
                    <li class="nav-item dropdown d-none d-md-block">
                        <a class="nav-link dropdown-toggle{{ if eq $.Section "semesters" }} active{{ end }}" href="#"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ .Name }}
                        </a>
                        <ul class="dropdown-menu">
                            {{ range $semesters }}
                            <li><a class="dropdown-item" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                            {{ end }}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ relURL "semesters" }}">All Semesters</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown d-md-none">
                        <a class="nav-link dropdown-toggle{{ if eq $.Section "semesters" }} active{{ end }}" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            {{ .Name }}
                        </a>
                        <ul class="collapse list-group list-group-flush mt-2" id="collapseExample">
                            {{ range $semesters }}
                            <li class="list-group-item"><a class="dropdown-item" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                            {{ end }}
                            <li class="list-group-item"><a class="dropdown-item" href="{{ relURL "semesters" }}">All Semesters</a></li>
                        </ul>
                    </li>
                    {{ end }}
                    {{- end -}}
                    <!-- <li class="nav-item" id="digest-button" style="cursor: pointer;">
                        <a class="nav-link">
                            Latest Projects
                        </a>
                    </li> -->
                </ul>
                <div class="nav-item d-none d-md-block" data-bs-toggle="modal" data-bs-target="#searchModal" style="cursor: pointer;">
                    <a class="nav-link" style="margin-top: 8px;">
                        {{ partial "search.html" }}
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</nav> 