{{- $respSizes := slice "600" "1280" "1920" -}}

{{ $image := .image }}


<picture>
    <source
        type="image/webp"
        srcset={{ partial "srcset.html" (dict "image" $image "type" " webp")}}
        sizes="{{ .sizes }}"
    />
    <source
        type="image/jpeg"
        srcset={{ partial "srcset.html" (dict "image" $image "type" " jpg")}}
        sizes="{{ .sizes }}"
    />
    <img class="{{ .classes }}"
        src="{{ $image.RelPermalink }}"
        data-sources='[{"type": "image/webp", "srcset": "{{ partial "srcset.html" (dict "image" $image "type" " webp")}}", "sizes": "100vw" }, {"type": "image/jpeg", "srcset": "{{ partial "srcset.html" (dict "image" $image "type" " jpg")}}", "sizes": "100vw" }]'
        width="{{ $image.Width }}"
        height="{{ $image.Height }}"
        alt="{{ .alt }}"
    />
</picture>
