{{- $respSizes := slice "160" "320" "600" "960" "1280" "1600" "1920" -}}

{{ $image := .image }}
{{- $actualImg := $image.Resize "640x jpg" -}}

<picture>
    <source
        type="image/webp"
        srcset={{ partial "srcset.html" (dict "image" $image "type" " webp")}}
        sizes="{{ .sizes }}"
    />
    <source
        type="image/jpeg"
        srcset={{ partial "srcset.html" (dict "image" $image "type" " jpg")}}
        sizes="{{ .sizes }}"
    />
    <img class="{{ .classes }}"
        src="{{ $actualImg.RelPermalink }}"
        data-sources='[{"type": "image/webp", "srcset": "{{ partial "srcset.html" (dict "image" $image "type" " webp")}}", "sizes": "100vw" }, {"type": "image/jpeg", "srcset": "{{ partial "srcset.html" (dict "image" $image "type" " jpg")}}", "sizes": "100vw" }]'
        width="{{ $image.Width }}"
        height="{{ $image.Height }}"
        alt="{{ .alt }}"
    />
</picture>
