{{- $respSizes := slice "600" "1280" "1920" -}}

{{ $image := .page.Resources.Get .src }}


<picture>
    <source
        type="image/webp"
        data-srcset={{ partial "srcset.html" (dict "image" $image "type" " webp")}}
        data-sizes="auto"
    />
    <source
        type="image/jpeg"
        data-srcset={{ partial "srcset.html" (dict "image" $image "type" " jpg")}}
        data-sizes="auto"
    />
    <img class="{{ .classes }}"
        data-src="{{ $image.RelPermalink }}"
        width="{{ $image.Width }}"
        height="{{ $image.Height }}"
        alt="{{ .alt }}"
    />
</picture>
