<a href="{{ .page.RelPermalink }}" class="project-link" data-rank="{{ .page.Params.rank }}">
    {{ if and (isset .page.Params "rank") (le (int .page.Params.rank) 3) }}
        {{ $src := print "/images/medal-" .page.Params.rank ".png" }}
        {{ $image := resources.Get $src }}
        <div class="medal">
            <img src="{{ $image.RelPermalink }}" alt="medal" />
        </div>
    {{ end }}
    <div class="project">
        <img src="{{ .page.Params.poster }}" class="poster"/> 
        <h3 class="project_title">
            {{- .page.Title -}}
        </h3>
        {{ delimit .page.Params.students ", " }}
        {{- range .page.Params.advisors -}}
            <div class="">
            {{ . }}
            </div> 
        {{- end -}}
    </div>
</a>