<div class="mb-4">
    <div class="card">
        <div class="row g-0">
            <div class="card-body">
                <h5 class="card-title mb-2 fw-bold">
                    <a href="{{ .page.RelPermalink }}">
                        {{ .page.Title }}
                    </a>
                </h5>

                <p class="card-text mt-3">{{ .page.Summary }}</p>

                {{ $students := slice }}
                {{ range $index, $student := .page.Params.students }}
                {{ $students = $students | append $student.name }}
                {{ end }}
                <p class="card-text mb-1"><span class="fw-semibold">Students:</span> {{ delimit $students ", " }}</p>
                <p class="card-text"><span class="fw-semibold">Advisors:</span> {{ delimit .page.Params.advisors ", " }}
                </p>
            </div>
        </div>
    </div>
</div>