{{- /* Paginate */ -}}
{{- if .pages_list -}}
    {{ $sorted := sort .pages_list "Params.rank" }}
    {{- with .Site.Params.section.paginate | default .Site.Params.paginate -}}
        {{- $sorted = $.Paginate $sorted . -}}
    {{- end -}}
    <div class="row gy-3 gx-5">
        {{ range $sorted }}
            {{ if and (isset .Params "rank") (le (int .Params.rank) 3) }}
                {{ partial "project-card.html" (dict "page" .) }}
            {{ end }}
        {{ end }}
        {{ range $sorted }}
            {{ if not (isset .Params "rank") }}
                {{ partial "project-card.html" (dict "page" .) }}
            {{ end }}
        {{ end }}
    </div>
    {{- partial "paginator.html" . -}}
{{- end -}}