<div class="col-sm-6 col-lg-4 mb-4">
    <div class="h-100 project-link">
        {{ if and (isset .page.Params "rank") (le (int .page.Params.rank) 3) }}
            {{ $src := print "/images/medal-" .page.Params.rank ".png" }}
            {{ $image := resources.Get $src }}
            <div class="medal">
                <img src="{{ $image.RelPermalink }}" alt="medal" />
            </div>
        {{ end }}
        <div class="card h-100 overflow-hidden">
            {{ if .page.Params.poster }}
                <img data-src="{{ .page.Params.poster }}" class="poster lazyload"/> 
            {{ end }}
            <div class="card-body p-4">
                <h5 class="card-title mb-2 fw-bold" {{ if and (not .page.Params.poster) (.page.Params.rank) }}style="width: calc(100% - 70px)"{{ end }}>
                    <a href="{{ .page.RelPermalink }}">
                        {{ .page.Title }}
                    </a>
                </h5>
    
                {{ $students := slice }}
                {{ range $index, $student := .page.Params.students }}
                    {{ $students = $students | append $student.name }}
                {{ end }}
                <p class="card-text mb-1"><span class="fw-semibold">Students:</span> {{ delimit $students ", " }}</p>
                <p class="card-text"><span class="fw-semibold">Advisors:</span> {{ partial "advisors-inline.html" (dict "advisors" .page.Params.advisors) }}
            </div>
        </div>
    </div>
</div>