<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <form class="d-flex search d-flex align-items-center rounded-3 border-primary px-3" role="search" id="searchForm">
                    {{ partial "search.html" }}
                    <input id="search" type="search" placeholder="Search" class="bg-transparent border-0 w-100 ps-2">
                </form>
                <div class="list-group" id="results"></div>
            </div>
        </div>
    </div>
</div>
<script>
    const modal = document.getElementById('searchModal')
    const input = document.getElementById('search')

    // focus on input when modal is shown
    modal.addEventListener('shown.bs.modal', () => {
        input.focus()
    })

    // disable page refresh on form submission
    document.getElementById("searchForm").addEventListener("submit", e => e.preventDefault())

    // search using lunr
    function getSearchResults(query) {
        return window.searchIndex.search(window.lunr.unicodeNormalizer(query)).flatMap((hit) => {
            if (hit.ref == "undefined") return [];
            let pageMatch = pagesIndex.filter((page) => page.href === hit.ref)[0];
            pageMatch.score = hit.score;
            return [pageMatch];
        });
    }

    // contruct query
    function getLunrSearchQuery(query) {
        const searchTerms = query.split(" ");
        if (searchTerms.length === 1) {
            return `${query}* `;
        }
        query = "";
        for (const term of searchTerms) {
            query += `+${term}* `;
        }
        return query.trim();
    }

    // perform search using lunr query or original query
    function searchSite(query) {
        const originalQuery = query;
        query = getLunrSearchQuery(query);
        let results = getSearchResults(query);
        return results.length
            ? results
            : query !== originalQuery
            ? getSearchResults(originalQuery)
            : [];
    }

    // trigger search and display results
    const results_cont = document.getElementById("results");
    input.oninput = async function (e) {
        const query = input.value.trim().toLowerCase();
        const results = searchSite(query)

        let search_results = ""
        results.forEach(result => {
            search_results += `<a href="${result.href}" class="list-group-item list-group-item-action">${result.title}</a>`;
        })
        
        results_cont.innerHTML = search_results;
    }
</script>