<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <form class="d-flex search" role="search" id="searchForm">
                    {{ partial "search.html" }}
                    <input autofocus id="search" type="search" placeholder="Search" aria-label="Search" autofocus>
                </form>
                <div class="list-group" id="results"></div>
            </div>
        </div>
    </div>
</div>
<script>
    const modal = document.getElementById('searchModal')
    const input = document.getElementById('search')

    modal.addEventListener('shown.bs.modal', () => {
        input.focus()
    })

    function getSearchResults(query) {
        return window.searchIndex.search(window.lunr.unicodeNormalizer(query)).flatMap((hit) => {
            if (hit.ref == "undefined") return [];
            let pageMatch = pagesIndex.filter((page) => page.href === hit.ref)[0];
            pageMatch.score = hit.score;
            return [pageMatch];
        });
    }

    function getLunrSearchQuery(query) {
        const searchTerms = query.split(" ");
        if (searchTerms.length === 1) {
            return `${query}* `;
        }
        query = "";
        for (const term of searchTerms) {
            query += `+${term} `;
        }
        return query.trim();
    }

    function searchSite(query) {
        const originalQuery = query;
        query = getLunrSearchQuery(query);
        let results = getSearchResults(query);
        return results.length
            ? results
            : query !== originalQuery
            ? getSearchResults(originalQuery)
            : [];
    }

    document.getElementById("search").oninput = async function (e) {
        const query = document.getElementById("search").value.trim().toLowerCase();
        const results = searchSite(query)

        let search_results = ""
        results.forEach(result => {
            search_results += `<a href="${result.href}" class="list-group-item list-group-item-action">${result.title}</a>`;
        })
        if (search_results) {
            document.getElementById("results").classList.add("mt-3")
        }
        else {
            document.getElementById("results").classList.remove("mt-3")
        }
        
        document.getElementById("results").innerHTML = search_results;
    }

    document.getElementById("searchForm").addEventListener("submit", e => e.preventDefault())
</script>