{{ range $index, $student := .students }}
    {{ $image := "" }}
    {{ $url := "" }}
    {{ if $student.github }}
        {{ $path := printf "https://github.com/%s.png" $student.github }}
        {{ $image = resources.GetRemote $path }}
        {{ $url = printf "https://github.com/%s" $student.github }}
    {{ end }}
    {{ if $student.image }} // TODO
        {{ $image = $student.image }}
    {{ end }}
    {{ if $student.url }}
        {{ $url = $student.url }}
    {{ end }}
    {{ if not $image }}
        {{ $image = resources.Get "/images/avatar.jpeg" }}
    {{ end }}
    <div class="d-flex align-items-center me-1">
        {{ partial "image.html" (dict "image" $image "alt" "avatar" "sizes" "32px" "classes" "rounded-circle shadow-sm avatar")}}
        {{ if $url }}
            <a href="{{ $url }}" class="mx-2">{{ $student.name }}</a>
        {{ else }}
            <span class="mx-2">{{ $student.name }}</span>
        {{ end }}
    </div>
{{ end }}