{{ range $index, $student := .students }}
    {{ $image := "" }}
    {{ $url := "" }}
    {{ if $student.github }}
        {{ $image = printf "https://github.com/%s.png" $student.github }}
        {{ $url = printf "https://github.com/%s" $student.github }}
    {{ end }}
    {{ if $student.image }}
        {{ $image = $student.image }}
    {{ end }}
    {{ if $student.url }}
        {{ $url = $student.url }}
    {{ end }}
    {{ if not $image }}
        {{ $avatar := resources.Get "/images/avatar.jpeg" }}
        {{ $image = $avatar.RelPermalink }}
    {{ end }}
    <div class="d-flex align-items-center me-1">
        <img src="{{ $image }}" class="rounded-circle shadow-sm" style="width: 32px; height: 32px;" alt="Avatar" />
        {{ if $url }}
            <a href="{{ $url }}" class="mx-2">{{ $student.name }}</a>
        {{ else }}
            <span class="mx-2">{{ $student.name }}</span>
        {{ end }}
    </div>
{{ end }}