{{- define "content" -}}
{{- partial "digest.html" . -}}
<div class="page home">
    <div class="row mt-2">
        <div class="col-lg-6 align-self-center">
            <h6>Computer Engineering</h6>
            <h1>Senior Projects</h1>
            <p>?</p>
            <button id="digest-button" type="button" class="btn btn-outline-primary">Latest Projects</button>
        </div>
        <div class="col-lg-6" id="lightgallery">
            <div class="vertical-gallery row">
                <div class="col-6 align-self-center">
                    <a class="d-block mb-3" role="button">
                        <img class="img-fluid"
                            src="/home/2022_cmpe_senior_project_prizes.jpg">
                    </a>
                    <a class="d-block mb-3" role="button">
                        <img class="img-fluid"
                            src="/home/cmpe-poster.png">
                    </a>
                </div>
                <div class="col-6 align-self-center">
                    <a class="d-block mb-3" role="button">
                        <img class="img-fluid"
                            src="/home/20190108_162732.jpg">
                    </a>
                    <a class="d-block mb-3" role="button">
                        <img class="img-fluid"
                            src="/home/2015-01-12_13.29.02_0.jpg">
                    </a>
                    <a class="d-block mb-3" role="button">
                        <img class="img-fluid"
                            src="/home/smallimg_1142_0.jpg">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    setTimeout(() => {
       window.lightGallery(document.getElementById('lightgallery'), {
            plugins: [window.lgVideo, window.lgZoom],
            thumbnail: true,
            selector: 'img, iframe',
        }); 
    }, 1000);
</script>
{{- end -}}