{{- define "content" -}}
{{- partial "digest.html" . -}}
<div class="page home">
    <div class="row mt-2">
        <div class="col-lg-6 align-self-center">
            <h6>Computer Engineering</h6>
            <h1>Senior Projects</h1>
            <p>?</p>
            <button id="digest-button" type="button" class="btn btn-outline-primary">Latest Projects</button>
        </div>
        <div class="col-lg-6" id="lightgallery">
            <div class="vertical-gallery row">
                <div class="col-6 align-self-center">
                    <a class="d-block mb-3" role="button">
                        {{ partial "image.html" (dict "src" "/home/2022_cmpe_senior_project_prizes.jpg" "classes" "img-fluid" "sizes" "(min-width: 1024px) 25vw, 50vw")}}
                    </a>
                    <a class="d-block mb-3" role="button">
                        {{ partial "image.html" (dict "src" "/home/cmpe-poster.png" "classes" "img-fluid" "sizes" "(min-width: 1024px) 25vw, 50vw")}}
                    </a>
                </div>
                <div class="col-6 align-self-center">
                    <a class="d-block mb-3" role="button">
                        {{ partial "image.html" (dict "src" "/home/20190108_162732.jpg" "classes" "img-fluid" "sizes" "(min-width: 1024px) 25vw, 50vw")}}
                    </a>
                    <a class="d-block mb-3" role="button">
                        {{ partial "image.html" (dict "src" "/home/2015-01-12_13.29.02_0.jpg" "classes" "img-fluid" "sizes" "(min-width: 1024px) 25vw, 50vw")}}
                    </a>
                    <a class="d-block mb-3" role="button">
                        {{ partial "image.html" (dict "src" "/home/smallimg_1142_0.jpg" "classes" "img-fluid" "sizes" "(min-width: 1024px) 25vw, 50vw")}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ partial "dynamicEls.html" (dict "images" (slice "/home/2022_cmpe_senior_project_prizes.jpg" "/home/cmpe-poster.png" "/home/20190108_162732.jpg" "/home/2015-01-12_13.29.02_0.jpg" "/home/smallimg_1142_0.jpg")) }}
<script>
    window.addEventListener("load", () => {
        const lgContainer = document.getElementById('lightgallery');
        if (window.lightGallery) {
            const dynamicGallery = window.lightGallery(lgContainer, {
                dynamic: true,
                dynamicEl: dynamicEls,
                plugins: [window.lgVideo, window.lgZoom],
                preload: 0
            })

            document.querySelectorAll("#lightgallery img").forEach((el, index) => {
                el.addEventListener('click', function () {
                    dynamicGallery.openGallery(index);
                }); 
            }) 
        }
    });
</script>
{{- end -}}