{{- $respSizes := slice "160" "320" "600" "960" "1280" "1600" "1920" -}}

{{ $image := .Page.Resources.Get (.Get "src") }}
{{- $actualImg := $image.Resize "640x jpg" -}}

<picture>
    <source
        type="image/webp"
        srcset={{ partial "srcset.html" (dict "image" $image "type" " webp")}}
        sizes="60vw"
    />
    <source
        type="image/jpeg"
        srcset={{ partial "srcset.html" (dict "image" $image "type" " jpg")}}
        sizes="60vw"
    />
    <img
        src="{{ $actualImg.RelPermalink }}"
        width="{{ $image.Width }}"
        height="{{ $image.Height }}"
        alt="{{ .Get "src" }}"
    />
</picture>
