{{- $respSizes := slice "160" "320" "600" "960" "1280" "1600" "1920" -}}

{{ $image := .Page.Resources.Get (.Get "src") }}
{{- $actualImg := $image.Resize "640x jpg" -}}

<picture>
    <source
        type="image/webp"
        data-srcset={{ partial "srcset.html" (dict "image" $image "type" " webp")}}
        data-sizes="auto"
    />
    <source
        type="image/jpeg"
        data-srcset={{ partial "srcset.html" (dict "image" $image "type" " jpg")}}
        data-sizes="auto"
    />
    <img
        class="lazyload"
        data-src="{{ $actualImg.RelPermalink }}"
        data-sources='[{"type": "image/webp", "srcset": "{{ partial "srcset.html" (dict "image" $image "type" " webp")}}", "sizes": "100vw" }, {"type": "image/jpeg", "srcset": "{{ partial "srcset.html" (dict "image" $image "type" " jpg")}}", "sizes": "100vw" }]'
        width="{{ $image.Width }}"
        height="{{ $image.Height }}"
        alt="{{ .Get "alt" }}"
    />
</picture>
